<footer>
  <div class="flex-container separator-container justify-between align-center">
    <div class="blue-label separator-banner">
      <div>Demo</div>
      <div>Week</div>
    </div>
    <div class="pink-label separator-banner">
      <div>Demo</div>
      <div>Week</div>
    </div>
    <div class="blue-label separator-banner">
      <div>Demo</div>
      <div>Week</div>
    </div>
    <div class="pink-label separator-banner">
      <div>Demo</div>
      <div>Week</div>
    </div>
    <div class="blue-label separator-banner">
      <div>Demo</div>
      <div>Week</div>
    </div>
    <div class="pink-label separator-banner">
      <div>Demo</div>
      <div>Week</div>
    </div>
  </div>
  <div class="footer-container">
    <div class="flex-container justify-between footer-details">
      <div class="footer-desc">
        <p>
          Der Prototype Fund ist ein Projekt der <b>Open Knowledge Foundation Deutschland</b> e. V.,
          das vom <b>Bundesministerium für Bildung und Forschung</b> (BMBF) gefördert wird.
        </p>
        <div class="flex-container justify-start align-center">
          <img src="/assets/images/footer_logo.svg" loading="lazy"
            alt="Bundesministerium fur Bildung und Forschung logo" />
          <img src="/assets/images/logo-okfn.png" loading="lazy" alt="OKFN 10th anniversary logo"
            style="margin-left: 5rem; max-width: 250px;" />
        </div>
      </div>
      <div>
        <p>DEMO WEEK ARCHIV</p>
        <a class="footer-archive" href="#" target="_blank" rel="noopener" title="Access Round 7 archive">2020 - Runde
          7</a>
      </div>
      <div class="social-container">
        <p>join the conversation<br /><b>#prototypefund</b></p>
        <div class="social-links">
          <p>follow us:</p>
          <div class="flex-container justify-end">
            <a href="https://twitter.com/prototypefund" target="_blank" rel="nofollow noreferrer"><img
                src="/assets/images/social_icons/twitter.png" loading="lazy" alt="Twitter" /></a>
            <a href="https://mastodon.social/@PrototypeFund" target="_blank" rel="nofollow noreferrer"><img
                src="/assets/images/social_icons/mastodon.png" loading="lazy" alt="Mastodon" /></a>
          </div>
        </div>
        <div class="links-container">
          <a class="link" href="https://prototypefund.de/code-of-conduct/" target="_blank"
            rel="nofollow noreferrer">Code of Conduct</a>
          <a class="link" href="https://prototypefund.de/impressum/" target="_blank" rel="nofollow noreferrer">Impressum
            / Datenschutz</a>
        </div>
      </div>
    </div>
  </div>
</footer>