.flex-container.container > div {
  flex: 1;
}
.landing-hero {
  margin-top: 15rem;

  h1.pink-border {
    margin-top: 1rem;
    color: #ff0080;
    -webkit-text-fill-color: $background_color;
    -webkit-text-stroke: 2.17949px #ff0080;
  }
  h1.blue-border {
    color: #009acf;
    -webkit-text-fill-color: $background_color;
    -webkit-text-stroke: 2.17949px #009acf;
  }
}

.video-container {
  .description p {
    margin-right: 12rem;
  }

  .speaker {
    width: 47%;
    margin-bottom: 1rem;

    img {
      margin-right: 1rem;
      max-width: 48px;
    }
  }

  .video img {
    max-width: 100%;
  }
}

.round-7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 15px 20px;
  border: 1px solid #8385b7;

  & p {
    margin: 0;
  }

  & a {
    color: $neon_blue !important;
    display: flex;
    align-items: center;

    &:after {
      content: "";
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23009ACE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
      background-size: 24px 24px;
      height: 24px;
      width: 24px;
      margin-left: 4px;
    }
  }
}

.landing-hero .description a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

.col-1 {
  & p {
    max-width: 90% !important;
  }

  & a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
  }
}
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

.project {
  background-color: $background_dark;
  margin-bottom: 4rem;

  @at-root .featured-projects #{&} {
    padding: 3rem 5rem;
    border: 4px solid $neon_pink;
    margin-bottom: 0;
    color: $white;
  }

  .project-image {
    width: 37.5%;
    display: flex;
    flex-direction: column;
    align-self: center;

    @at-root .featured-projects #{&} {
      width: 45%;
    }

    img {
      width: 100%;
    }
    .hashtags {
      background-color: $neon_blue;
      color: $white;
      padding: 1.25rem 2.5rem;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      word-wrap: break-word;

      span {
        text-transform: uppercase;
      }
    }
  }

  .project-details {
    padding: 1.5rem 0 2.5rem;
    width: 50%;
    margin-right: 3rem;

    @at-root .featured-projects #{&} {
      max-width: none;
      margin-right: 0;
    }
  }

  .project-brief {
    font-size: $font_xl;
    line-height: $font_xl * 1.5;
    margin-bottom: 3rem;
    max-width: 80%;

    @at-root .featured-projects #{&} {
      margin-bottom: 0;
    }
  }

  .project-description {
    font-size: $font_sm;
    line-height: $font_sm * 1.5;
    margin-bottom: 4.5rem;
  }

  &.inverse {
    .hashtags {
      background-color: $neon_pink;
    }
    .project-details {
      margin-left: 5rem;
      margin-right: 0;
    }
  }
}

.project-container {
  .project-brief {
    margin-bottom: 1rem;
  }
  .project-description {
    margin-bottom: 1rem;
  }

  .project-details {
    margin-left: 5rem;
  }
}
