// General Flex Container rules
.flex-container {
  display: flex;
  justify-content: center;
  align-items: stretch;

  &.justify-between {
    justify-content: space-between;
  }
  &.justify-around {
    justify-content: space-around;
  }
  &.justify-start {
    justify-content: flex-start;
  }
  &.justify-end {
    justify-content: flex-end;
  }
  &.align-center {
    align-items: center;
  }
  &.align-start {
    align-items: flex-start;
  }
  &.inverse {
    flex-direction: row-reverse;
  }

  &.flex-fill div {
    flex: 1;
  }
}

.fix-header {
  position: fixed;
  width: 100vw;
  background-color: $background_color;
  z-index: 999;
}

.preload,
.onload {
  position: relative;
}
.preload::after,
.onload::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #161730;
  z-index: 999999;
  transition: opacity 1.2s ease-in-out;
}
.onload::after {
  opacity: 0;
}
html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 1rem;
  margin: 3.5rem auto;
  width: calc(100% - 6rem);
  max-width: calc(1440px - 6rem);
}

// Header rules
header {
  margin: 0;

  .header-container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
  }
}

// Navigation rules
nav {
  margin-right: 2rem;

  .nav-container {
    max-width: 1440px;
    width: 100%;
    margin: auto;

    ul {
      display: flex;
      margin: 0;

      li.nav-links {
        margin-right: 2.75rem;
        padding: 0 0.625rem 0.875rem;
      }
    }
  }
}

hr {
  margin-top: 2.5rem;
  border: 2px solid #ff0080;
  width: 100%;
  width: calc(100% - 2rem);
  max-width: calc(1440px - 2rem);
}

// Footer rules
footer {
  padding: 0;
  color: $black;
  font-size: $font_xl;
  background: $white;
  margin-top: 5rem;

  .footer-container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }

  .footer-details {
    padding: 2rem;

    .footer-desc {
      width: 40%;

      img {
        margin-top: 5rem;
      }
    }

    .social-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;
      text-align: right;

      p {
        margin-bottom: 0.5rem;
      }
      .social-links a {
        margin-right: 0.5rem;
      }
    }
  }

  .footer-links {
    width: 50%;
  }

  .footer-archive {
    color: inherit;
    display: flex;
    align-items: center;

    &:after {
      content: "";
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3Cpolyline points='12 5 19 12 12 19'%3E%3C/polyline%3E%3C/svg%3E");
      background-size: 24px 24px;
      height: 24px;
      width: 24px;
      margin-left: 10px;
      transition: 0.25s ease-in-out;
    }

    &:hover:after {
      margin-left: 15px;
    }
  }
}
