---
layout: default
---

<div class="flex-container container landing-hero justify-between">
  <div class="logo-details">
    <img src="/assets/images/logo.svg" loading="lazy" alt="PrototypeFund Demo Week Round 8" />
    <h1 class="pink-border">Prototype</h1>
    <h1 class="blue-border">Fund</h1>
  </div>
  <div class="description">
    <h3>RUNDE 8</h3>
    <p>
      Zum Abschluss der 8. Förderrunde des Prototype Fund findet bereits zum zweiten Mal eine virtuelle Demo Week statt.
      Vom <b>22</b>. bis <b>26. Februar 2021</b> präsentieren die <b>17 Projekte</b> hier in Form von Texten, Videos,
      Bildern und natürlich
      Demos die Softwareprototypen, an denen sie in den vergangenen sechs Monaten im Rahmen ihrer Förderung gearbeitet
      haben.
      <br /><br />
      Am <b>Montag (22.02., 18:30)</b> startet die Demo Week mit einer <a href="#keynote1">Eröffnung</a>. In den
      darauffolgenden Tagen stellen
      sich die
      <a href="#project-section">Projekte</a> vor. Am <b>Freitagabend (26.02., 17:30)</b> folgt der offizielle
      <a href="#keynote2">Abschluss</a>.
    </p>
    <div class="round-7">
      <p>Du suchst die Demo Week der Runde 7?</p>
      <a href="http://archive.demoweek.prototypefund.de" target="_blank" rel="noopener">Hier geht es lang</a>
    </div>
  </div>
</div>
<hr />
<div class="flex-container container justify-between">
  <div class="header col-1">
    <p>
      Der Prototype Fund war ursprünglich auf eine Dauer von 8 Runden ausgelegt, bevor er <a href="#">im vergangenen
        Jahr um 8 weitere Förderrunden verlängert wurde</a>. Wir nehmen diese Halbzeit zum Anlass, um auf die
      Vergangenheit, die Gegenwart und die Zukunft zu blicken. Deswegen wollen wir in der Demo Week in den Fokus rücken,
      was wir in den letzten 4 Jahren in der Förderung von Public Interest Tech erreicht haben, wo wir jetzt stehen und
      - wo
      wir in den kommenden 4 Jahren noch hin wollen.
    </p>
  </div>
  <div class="description">
    <p>
      Unsere Tweets zur Demo Week erkennt ihr an <b>#prototypedemos</b> - ihr seid herzlich
      eingeladen mit zu zwitschern
      und zu
      diskutieren!<br />
      Wir wünschen euch eine inspirierende Woche!
    </p>
  </div>
</div>
<hr />
<div class="flex-container video-container container justify-between" id="keynote1">
  <div class="description">
    <h2>Eröffnung</h2>
    <p>Am <b>22.02.</b> startet die Demo Week offiziell mit unserem Livestream ab <b>18:30 Uhr</b>. Euch erwarte
      spannende
      Keynote „Dreaming in Platforms“ von Cade Diehm (Gründer New Design Congress), die Vorstellung der Projekte mit
      ersten Live-Demos sowie natürlich eine Begrüßung und Einführung durch
      das Team des Prototype Fund und das BMBF.
    </p>
    <h2>Keynote</h2>
    <div class="flex-container justify-start">
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speakers/CadeDiehm.jpg" loading="lazy" alt="Cade Diehm" />
        <div class="speaker-details">
          <h4>Cade Diehm</h4>
          <small>Gründer New Design Congress</small>
        </div>
      </div>
    </div>
  </div>
  <div class="video">
    <!-- <div class="iframe-container">
      <iframe src="https://www.youtube.com/embed/LA8ntFNBk-A?rel=0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> -->
    <img src="/assets/images/video_placeholder.svg" loading="lazy" alt="Placeholder for an upcoming video" />
  </div>
</div>
{% include separator.html %}
{% assign featured_project = site.projects | sample: 2 %}
<div class="featured-projects container" id="project-section">
  <span class="featured-title">
    Projekt Highlight
  </span>
  <div class="flex-container project justify-around align-center">
    <div class="project-image">
      {% if featured_project[0].image %}
      <img src="{{ featured_project[0].image }}" loading="lazy" alt="{{ featured_project[0].title }}" />
      {% else %}
      <img src="/assets/images/project_img_placeholder.png" loading="lazy" alt="Placeholder for a project image" />
      {% endif %}
    </div>
    <div class="project-details">
      <div class="project-authors">
        {% for author in featured_project[0].authors %}
        <a {% if author.link %}href="{{ author.link }}" {% endif %}>
          {{ author.author }}{% if forloop.last != true %}, {% endif %}
        </a>
        {% endfor %}
      </div>
      <h2 class="project-title">{{ featured_project[0].title }}</h2>
      <p class="project-brief">
        {{ featured_project[0].brief }}
      </p>
      <p class="project-description">
        {{ featured_project[0].summary }}
      </p>
      <a href="{{ featured_project[0].url }}" class="btn project-btn">View Project</a>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="text-left">Alle Projekte</h2>
  <p class="text-left project-section-desc">
    Diese 17 Projekte haben wir in der 8. Runde des Prototype Fund mit Mitteln des BMBF von September 2020 – Februar
    2021 gefördert. Ihr habt Fragen an ein Projekt? Schickt sie an <a
      href="mailto:demoweek@prototypefund.de">demoweek@prototypefund.de</a> oder twittert sie mit dem
    Hashtag <span class="hashtag">#prototypedemos</span> - beim Abschlussevent am 26.02. werden die Projekte einige
    eurer Fragen beantworten.
  </p>
  {% for project in site.projects %}
  {% assign mod = forloop.index | modulo: 2 %}
  <div class="flex-container project {% if mod == 1%}inverse{% endif %} justify-between">
    <div class="project-image">
      <a href="{{ project.url }}" style="line-height: 0;">
        {% if project.image %}
        <img src="{{ project.image }}" loading="lazy" alt="{{ project.title }}" />
        {% else %}
        <img src="/assets/images/project_img_placeholder.png" loading="lazy" alt="Placeholder for a project image" />
        {% endif %}
      </a>
    </div>
    <div class="project-details">
      <div class="project-authors">
        {% for author in project.authors %}
        <a {% if author.link %}href="{{ author.link }}" {% endif %}>
          {{ author.author }}{% if forloop.last != true %}, {% endif %}
        </a>
        {% endfor %}
      </div>
      <a href="{{ project.url }}">
        <h2 class="project-title">
          {{ project.title }}
        </h2>
      </a>
      <p class="project-brief">
        {{ project.brief }}
      </p>
      <a href="{{ project.url }}" class="btn project-btn">View Project</a>
    </div>
  </div>
  {% endfor %}
</div>
<hr />
<div class="flex-container video-container container justify-between" id="keynote2">
  <div class="description">
    <h2>Abschluss</h2>
    <p>Zum Abschluss der Demo Week am <b>26.02.</b> werden die Projektteams auf eure Fragen antworten, bevor wir mit
      einer
      weiteren Keynote (Julia Kloiber und Elisa Lindinger, Gründerinnen des Superrr Lab) sowie einem Panel unter dem
      Motto “Trial/Error/Success - Halbzeit beim Prototype Fund” abschließen.
      Mit unseren Panel-Gästen, dem Jurymitglied Michael Kreil sowie den ehemaligen Geförderten Marie Kochsiek (drip)
      und Simon Wörpel (Annotate & Chill, Follow the Grant) wird Adriana Groh, Leiterin des Prototype Fund, darüber
      sprechen,
      was wir seit 2017 erreicht haben – und herausfinden, an welchen Stellen es
      Verbesserungsbedarf gibt und was wir bis 2025 anders und besser machen können. </p>
    <h2>Panel</h2>
    <div class="flex-container justify-start">
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speakers/MichaelKreil.png" loading="lazy" alt="Michael Kreil" />
        <div class="speaker-details">
          <h4>Michael Kreil</h4>
          <small>Data Scientist, Prototype Fund Jury</small>
        </div>
      </div>
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speakers/AdrianaGroh.png" loading="lazy" alt="Adriana Groh" />
        <div class="speaker-details">
          <h4>Adriana Groh</h4>
          <small>Director Prototype Fund</small>
        </div>
      </div>
    </div>
    <div class="flex-container justify-start">
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speakers/MarieKochsiek.jpeg" loading="lazy" alt="Marie Kochsiek" />
        <div class="speaker-details">
          <h4>Marie Kochsiek</h4>
          <small>Softwareentwicklerin, <a href="https://bloodyhealth.gitlab.io/" target="_blank"
              rel="noopener">drip</a></small>
        </div>
      </div>
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speak.png" loading="lazy" alt="Simon Wörpel" />
        <div class="speaker-details">
          <h4>Simon Wörpel</h4>
          <small>Datenjournalist, <a href="https://prototypefund.de/project/boromeo/" target="_blank"
              rel="noopener">Annotate & Chill</a></small>
        </div>
      </div>
    </div>
    <h2>Keynote</h2>
    <div class="flex-container justify-start">
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speakers/ElisaLindinger.png" loading="lazy" alt="Elisa Lindinger" />
        <div class="speaker-details">
          <h4>Elisa Lindinger</h4>
          <small>Co-Founder Superrr Lab</small>
        </div>
      </div>
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speakers/JuliaKloiber.png" loading="lazy" alt="Julia Kloiber" />
        <div class="speaker-details">
          <h4>Julia Kloiber</h4>
          <small>Co-Founder Superrr Lab</small>
        </div>
      </div>
    </div>
  </div>
  <div class="video">
    <!--<div class="iframe-container">
      <iframe src="https://www.youtube.com/embed/4VtBl9f8ayo?start=5&rel=0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>-->
    <img src="/assets/images/video_placeholder.svg" loading="lazy" alt="Placeholder for an upcoming video" />
  </div>
</div>
<img id="scroll-to-top" src="/assets/images/scroll.png" loading="lazy" alt="Scroll to top button"
  onclick="topFunction()" />
<script>
  //Get the button
  var mybutton = document.getElementById("scroll-to-top");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () { scrollFunction() };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<script>
  var projects = {{ site.projects | jsonify }};
</script>
<script src="/assets/js/randomFeaturedProject.js"></script>
<script src="/assets/js/fadeInPage.js"></script>